body {
    background-image: url(https://images.unsplash.com/photo-1609075932217-fd9409ccbb4b?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


#login-page,
#todo-app {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}

input[type="email"],
input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#todo-list {
    list-style-type: none;
    padding: 0;
}

#todo-list li {
    background: #f9f9f9;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#todo-list li button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #007bff;
}

#todo-list li button:hover {
    background-color: #0056b3;
}

#todo-list li button:last-child {
    background-color: #dc3545;
}

#todo-list li button:last-child:hover {
    background-color: #c82333;
}